.Dashboard-link1{
	color: rgb(240,60,115);
    margin-left: 7.5em;
	text-decoration: none;
}
.logo{
    width: 1em;
}
.breadcrumb-link:hover{
    color:rgb(240, 60, 115);
}
.footer-link:hover{
    color:rgb(240, 60, 115);
}
.image img{
	width: 3.5em;
	height: 4em;
	border-radius: 40%;
}
/*profile*/
.panel-heading{
    border-top: 5px solid rgb(240, 60, 115);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.panel{
    background-color: white;
}
.footer{
    border-bottom: 5px solid rgb(240, 60, 115);
    
}
.panel-footer{
    border-bottom: 5px solid rgb(240, 60, 115);
}

.content2{
    margin: 5em 0em;
  
}
.card{
    border-top:5px solid rgb(240,60,115);
    border-bottom: 5px solid rgb(240, 60, 115);
}

/*CSS*/

.box-header{
   border-bottom: 1px solid rgba(0,0,0,0.2);
}
.box-footer{
border-top: 1px solid rgba(0,0,0,0.2);
margin: 0.5em 0em 0em;
padding-left: 0.5em;
}
.btn{
	background-color: rgb(240, 60, 115);
	color: white;
}
/*profile*/
.box{
    background-color:white;
    padding: 0em 0em 0.5em;
	border-top:0.2em solid rgb(240, 60, 115);
	border-bottom: 0.2em solid rgb(240, 60, 115);
	border-radius: 0.3em;
}
.well{
	background-color:whitesmoke;
	border-radius:0.5em
}
tr .table{
	width: 10em;
}
#admission-show-password{
	float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
	font-size: small;
}
.col-sm-7 a:hover{
    color:rgb(240, 60, 115);
}
#changeprofile{
	background-color:rgb(240, 60, 115);
	color: white;
}
#changepassword{
	background-color:rgb(240, 60, 115);
	color: white;
}
#update{
	background-color: rgb(240, 60, 115);
	color: white;
}
.list-group-item a{
	color: rgb(240, 60, 115);
}
.profile-picture{
	display: none;
}
.online{
	font-size:1.5em;
	color:green
}
.btn-tool{
    margin: 0em 0em 0em;
	
   
}
.fa-clock, .fa-calendar-alt, .heading, .card-title, .nav-link, .footer-link, .breadcrumb-link{
	color: rgb(240, 60, 115);
}
.Submit-btn{
	background-color: rgb(240, 60, 115);
	color: white;
}