.logo{
    width: 1em;
}
.breadcrumb-link{
    color:rgb(240, 60, 115);
}
.footer-link{
    color:rgb(240, 60, 115);
}
.breadcrumb-link:hover{
    color:rgb(240, 60, 115);
}
.footer-link:hover{
    color:rgb(240, 60, 115);
}
.image img{
	width: 3.5em;
	height: 4em;
	border-radius: 40%;
}
/*Second Styling*/
.the-dropdown-list {
	display: none;
	background-color: whitesmoke;
	border: 2px solid black;
	z-index: 10;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
	list-style: none;
	margin: 0;
	padding: 0;
	height:5em;
	overflow: auto;
	position: absolute;
	border-radius:0.5em;
}
.the-dropdown-item {
	padding: 5px 10px;
	margin: 0;
	cursor: pointer;
}
.the-dropdown-item:hover {
	background-color: rgba(0,0,0,0.5);
	color: white;
}
.panel{
    background-color: white;
}
.content2{
    margin: 5em 0em;
  
}
.box{
    background-color:white;
    padding: 0em 0em 0.5em;
	border-top:0.2em solid rgb(240, 60, 115);
	border-radius: 0.3em;
}
.well{
	background-color:whitesmoke;
	border-radius:0.5em
}
tr .table{
	width: 10em;
}
#admission-show-password{
	float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
	font-size: small;
}

.col-sm-7 a:hover{
    color:rgb(240, 60, 115);
}
#custom-tabs-four-history-tab:hover{
    color:rgb(240, 60, 115);
}
#custom-tabs-four-dashboard-tab{
	color:rgb(240, 60, 115);
}
#changeprofile{
	background-color:rgb(240, 60, 115);
	color: white;
}
#changepassword{
	background-color:rgb(240, 60, 115);
	color: white;
}
#update{
	background-color: rgb(240, 60, 115);
	color: white;
}
.list-group-item a{
	color: rgb(240, 60, 115);
}
.profile-picture{
	display: none;
}
.online{
	font-size:1.5em;
	color:green
}
.btn-tool{
    margin: 0em 0em 0em;
   
}
.fa-clock, .fa-calendar-alt, .heading, .card-title, .btn-sm, .nav-link, .footer-link, .breadcrumb-link{
	color: rgb(240, 60, 115);
}
.pay-footer, .pay-body{
	border-top: 0.1em solid rgb(240, 60, 115);
	margin: 1em 0em;
}
.pay-box{
	border-bottom: 0.2em solid rgb(240, 60, 115);
}
.Submit-btn{
	background-color: rgb(240, 60, 115);
	color: white;
}
.card{
    border-top:5px solid rgb(240,60,115);
    border-bottom: 5px solid rgb(240, 60, 115);
}
/*Receipt*/
.receipt-logo{
	
	height: 10em;

}