.modal-content{
    background:rgba(0,0,0,0.85);
    overflow: hidden;
    color:wheat;
    border-top-left-radius: 1em;
	border-bottom-right-radius: 1em;
}
.small-box-footer{
    font-size: 1.2em;
}
#payment-show-password{
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;

}
#admission-show-password{
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    
}
#matric-show-password{
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    
}
#exam-show-password{
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
.small-box{
    padding-top: 20px;
    color:white;
}
#exams{
    background-color:darkblue;
}
#matric-no{
    background-color:rgb(240, 60, 115);
}
#payment{
    background-color:#f09a3e;
}
.control-label{
    color: wheat;
}
.card-header{
    background-color :wheat;
    border-bottom:2px solid #f09a3e
}
.modal-header{
  
	background-color: wheat;
    opacity: 1;
    color: black;
    border-bottom: 3px solid #f09a3e;
}
.btn-cancel{
    background-color: red;
    color: white;
    opacity: 0.7;
}
.btn-cancel:hover{
    opacity: 1;    
}
.btn-login{
    background-color: wheat;
    color: black;
}
.field-icon{
    color: black;
}
.form-control {
    background-color: wheat;
    opacity: 0.9;
}
.breadcrumb-link{
    color:#f09a3e
}
.footer-link{
    color:#f09a3e
}

