.modal-content{
    background:rgba(0,0,0,0.8);
    overflow: hidden;
    color:wheat;
    border-top-left-radius: 1em;
	border-bottom-right-radius: 1em;
}
.modal-header{
  
	background-color: wheat;
    opacity: 1;
    color: black;
    border-bottom: 3px solid #f09a3e;
}
.btn-cancel{
    background-color: red;
    color: white;
    opacity: 0.7;
}
.btn-cancel:hover{
    opacity: 1;    
}
.btn-login{
    background-color: wheat;
    color: black;
}
.field-icon{
    color: black;
}
.form-control {
    background-color: wheat;
    opacity: 0.9;
}

