.form-box
{
    width:450px;
	height:350px;
    border-radius: 1.5em;
	position:relative;
	margin:2em auto;
	background:#343a40;
	padding:10px;
    overflow: hidden;
}
.header{
    color: rgb(240, 60, 115);
    font-weight: bold;

}
.horizontal-line{
	background-color: rgb(240, 60, 115);
	height: 1px;
}
#dropdown-menu{
	background-color: antiquewhite;
	color: white;
	width: 20em;
	height: auto;
    max-height:7em;
    overflow-x: hidden;
	
}
.dropdown-item:hover{
	background-color: rgb(240, 60, 115);
	color:white;
}
.submit-btn
{
	width: 20em;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	height: 3em;
	margin:2em auto;
	color: white;
	background: rgb(240, 60, 115);
	border: 0;
	outline: none;
	border-radius: 30px;
}
a:hover {
	color: white;
	text-decoration: none;
  }
  .main-sidebar{
    background-color:rgba(0,0,0,1);
}
.logo{
    width: 1em;
}
.breadcrumb-link{
    color:rgb(240, 60, 115);
}
.footer-link{
    color:rgb(240, 60, 115);
}
.breadcrumb-link:hover{
    color:rgb(240, 60, 115);
}
.footer-link:hover{
    color:rgb(240, 60, 115);
}
.card-header{
    background-color :rgba(0,0,0,0.85);
    color: white;
}
.image img{
	width: 3.5em;
	height: 4em;
	border-radius: 40%;
}
.online{
	font-size:1.5em;
	color:green
}